*.js
!jest.config.js
*.d.ts
node_modules

# CDK asset staging directory
.cdk.staging
cdk.out

# Parcel default cache directory
.parcel-cache

#custom js exception
!cognito-pre-sign-up.js
!cognito-post-authentication.js